.aboutus-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}

.highlight-title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #f1775c;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-image img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.side-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-images img {
  width: 150px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}


.aboutus-right {
  flex: 1;
  min-width: 300px;
}

.fade-text {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-left: 20px;
  font-size: 18px;
  padding-top: 20px;
}

.fade-text.visible {
  opacity: 1;
}

.extra-info {
  padding: 40px;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.extra-info h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

.extra-info ul {
  list-style: disc;
  margin-left: 20px;
   font-size: 18px;
   margin: 0;
   gap: 0;
}

.extra-info p {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
}

.why-join, .our-mission {
  flex: 1;
  min-width: 300px;
}
